/* general */

*{
  margin: 0px;
  padding: 0px;
}

header div{
  background-color: rgb(0, 128, 255);
  background-image: url(../img/pattern.png);
  height: 170px;
}

/* main */

span{
  background-color: yellow;
}

/* tabella */
.up{
  background-color: aqua;
  margin: 0px;
}
/* footer */

footer{
  color: gray;
}
#monitor, #graph{
  color: white;
  background-size: cover;
  width: 300px;
  height: 150px;

}
#monitor{
  background-image: url(../img/monitor.jpg);
  margin-bottom: 5px;
}

#graph{
  background-image: url(../img/graph.jpg);
}
