/* general */

*{
  margin: 0px;
}

header {
  position: relative;
  background-color: rgb(99, 158, 248);
  background-image: url(../img/pattern.png);
  background-size: 25%;
  height: 100px;
  margin-bottom: 20px;
}

header .logoContainer {
  width: 70%;
  margin: auto;
}

header img.logo {
  width: 15%;
  position: absolute;
  bottom: 0px;
}

/* main */

.container{
  margin: auto;
  width: 70%;
}

p.sottotitolo:last-child {
  margin-bottom: 15px;
}

.sottotitolo {
  margin-top: 5px;
  margin-bottom: 5px;
  color: gray;
}

.sottotitolo a,
.sottotitolo a:visited {
  text-decoration: none;
  color: rgb(99, 158, 248);
}

/* Immagini di Tim */

.imgContainer {
  width: 100%;
}

.imgContainer div {
  height: 400px;
  display: inline-block;
  width: 45%;
}

.imgElement.tim1 {
  background-image: url(../img/tim-1.jpg);
  background-size: cover;
}

.imgElement.tim2 {
  background-image: url(../img/tim-2.jpg);
  background-size: cover;
  background-position: right;
}


span{
  background-color: yellow;
}

#subtitles{
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.list{
  margin-top: 20px;
}

/* tabella */
.ciano{
  background-color: rgb(119, 211, 211);
}

.big{
  width: 60%;
}
table{
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}
.up{
  color: white;
  text-align: left;
  background-color: rgb(83, 161, 206);
}

/* footer */

footer {
  margin-top: 20px;
  color: gray;
}
#monitor, #graph {
  color: white;
  background-size: cover;
  font-weight: 700;
  width: 300px;
  height: 150px;
  padding: 15px 0 0 15px;
}
#monitor {
  background-image: url(../img/monitor.jpg);
  margin-bottom: 5px;
}

#graph {
  background-image: url(../img/graph.jpg);
}
